  <mat-card-title> Add New User </mat-card-title>
  <br />
  <br />

  <form class="form-controls">

    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
